# server IntelliJ
inetsense-server/*.iml
inetsense-server/.idea/**

# server Eclipse
/inetsense-server/target/**
/inetsense-server/.settings/**
/inetsense-server/.project
/inetsense-server/.classpath

# probe Eclipse
/inetsense-probe/bin/**
/inetsense-probe/.settings/**
/inetsense-probe/.project
/inetsense-probe/.classpath

# probe NetBeans
/inetsense-probe/nbproject/private/
/inetsense-probe/build/
/inetsense-probe/lib/