# IntelliJ
*.iml
.idea/

# Eclipse
target/
bin/
.settings/
.project
.classpath

# NetBeans
nbproject/private/
build/
lib/

# inetsense
*setvars.bat*

# generated extJs app
inetsense/inetsense-server/inetsense-server-web/target/classes/static/extapp

# Mac
*.DS_Store
