<div class="login-page">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <img src="/images/people.png" width="150px" class="user-avatar" />
            <h1>iNETSense</h1>
            <form role="form" ng-submit="controller.login()">
                <div class="form-content">
                    <div class="form-group">
                        <input id="email" type="email" ng-model="controller.credentials.email"
                            class="form-control input-underline input-lg" placeholder="E-mail" required>
                    </div>

                    <div class="form-group">
                        <input id="password" type="password" ng-model="controller.credentials.password"
                            class="form-control input-underline input-lg" placeholder="Jelszó" required>
                    </div>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn rounded-btn">Bejelentkezés</button>
                    <button type="button" class="btn rounded-btn" ng-click="controller.register()">Regisztráció</button>
                </div>

                <div class="alert alert-danger" ng-show="controller.loginError">
                    Hiba történt a bejelentkezés során. Kérjük, próbálja újra.
                </div>
                <div class="alert alert-danger" ng-show="controller.registerError">
                    Hiba történt a regisztráció során.
                </div>
                <div class="alert alert-success" ng-show="controller.registerSuccess">
                   Sikeres regisztráció! Most már bejelentkezhet.
                </div>
            </form>
        </div>
    </div>

</div>
